.primaryColumn {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}

.primaryColumnHeader {
  display: none;
  flex-grow: 1;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  position: sticky;
  top: -0.5px;
}

.secondaryColumn {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  max-width: 400px;
}

.searchBarContainer {
  display: none;
  margin: 12px;
  height: 40px;
}

@media screen and (min-width: 600px) {
  .primaryColumn {
    border-color: rgb(47, 51, 54);
  }
}

@media screen and (min-width: 1000px) {
  .primaryColumn {
    margin: 0;
  }

  .secondaryColumn {
    display: flex;
  }
}

@media screen and (min-height: 500px) {
  .primaryColumn {
    border-color: rgba(0, 0, 0, 0);
  }

  .searchBarContainer {
    display: flex;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .primaryColumn {
    margin: 0;
  }

  .primaryColumnHeader {
    display: flex;
  }

  .secondaryColumn {
    flex-grow: 4;
  }
}

@media screen and (min-width: 680px) and (min-height: 500px) {
  .primaryColumn {
    border-color: rgb(47, 51, 54);
  }
}
