.dialogOverlay {
    background-color: var(--background-color-overlay);
    position: fixed;
    inset: 0;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 80vw;
    min-height: 400px;
    max-height: 90vh;
    padding: 8px;
    background-color: var(--background-color);
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialogHeader {
    display: flex;
    align-items: center;
    padding: 8px;
}

.dialogHeaderText {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 36px;
}

.dialogCloseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 999px;
    border: none;
    background-color: transparent;
    outline: none;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.dialogCloseButton:hover {
    background-color: var(--button-color-hover);
}

.dialogCloseButton:active {
    background-color: var(--button-color-active);
}

.dialogMain {
    display: flex;
    flex-direction: column;
    padding: 8px 80px;
}

.dialogTitle {
    font-size: 31px;
    line-height: 36px;
    font-weight: 700;
    margin: 20px 0px;
}